# ===== ODOO: BD POSTGRESQL =====
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
PGDATA=
PG_PORT_HOST=
# ===== CONF =====
ENVIRONMENT=development
CERT_PATH=./config/certs/dev/tls
CERT_PATH_SPRING=./config/certs/dev/spring
# ===== SPRING: JAVA =====
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
# ===== SPRING: BD =====
BD_NAME=